header {
    box-sizing: border-box;
    width: 100%; 
    min-width: 400px;
    height: 120px; 
    background-color: rgb(25, 25, 25, 1);
    margin: 0;
    padding: 20px; 
    display: grid; 
    grid-template-columns: 80px auto;
    grid-template-rows: 1fr 1fr;
}

header>h1 {
    font-weight: 300;
    margin: 0;
}
header>h3 {
    font-weight: 200; 
    margin: 0; 
}

.logo {
    grid-row: 1 / span 2;
    align-self: center;
    width: 50px; 
    margin: 0; 
    margin-right: 20px; 
    filter: invert(100%); 
}

@media only screen and (max-width: 500px) {
    header>h1 {
        font-size: 1.5rem;
    }
  }