body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #222;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh; 
    width: 100vw;
    display: grid; 
    grid-template-rows: 100px 70px 40px auto 20px;
}

.header-section {
    background-color: #333;
    display: flex; 
    justify-content: start;
    align-items: center;
    grid-row: 1; 
    color: #111;
    box-sizing: border-box;
    padding: 20px;
}

.header-section>img {
    height: 70px;
    width: 70px;
    margin-right: 20px;
}

.playercard-section {
    grid-row: 2;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.playercard {
    border-radius: 5px;
    border: black solid 2px; 
    background-color: greenyellow;
    height: 50px; 
    width: max(15%, 200px);
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#player2 {
    margin-left: 12%;
}

.playercard>p {
    margin: 0; 
    padding: 0;
    font-weight: bolder;
}

.playcard>small {
    margin-bottom: 5px;
}

dialog {
    height: 250px; 
    width: 300px;
    border-radius: 10px;
    background-color: #cfcaca;
    position: relative;
    padding-left: 20px;
}

form>h1 {
    font-size: x-large;
}

#enter {
    border-radius: 10px;
    background-color: greenyellow;
    width: 150px; 
    height: 50px;
    border: 0;
    font-weight: 700;
    position: absolute;
    bottom: 15px;
    left: 27%; 
}

#enter:hover {
    background: rgb(65, 97, 17);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.45);
}

.turn-section {
    grid-row: 3;
    justify-self: center;
    align-self: center;
}

.announcer {
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

.game-section {
    grid-row: 4;
    justify-self: center;
    align-self: center;
}

.tictactoegrid {
    box-sizing: border-box;
    width: 520px; 
    height: 520px;
    display: grid; 
    grid-gap: 10px; 
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    background-color: black;
    align-content: center;
    justify-content: center;
    border: 0;
    margin-bottom: 80px;
    margin-top: 20px;
}

.tictactoecell {
    background-color: #222;
    display: flex; 
    justify-content: center;
    align-items: center;
}


.footer-section {
    color: white; 
    grid-row: 5;
    display: flex; 
    justify-content: center;
}