<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="../public/logo.svg">
    <title>Odin Inventory</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/">
                <img src="/logo.svg" alt="logo">
                <h1>Odin Inventory</h1>
            </a>
        </div>
        <nav class="links-container">
            <a href="/"><img src="/home.svg" alt="home" style="opacity: 50%" draggable="false"></a>
            <a href="/categories"><img src="/categories.svg" alt="categories" style="opacity: 100%" draggable="false"></a>
            <a href="/games"><img src="/items.svg" alt="items" style="opacity: 50%" draggable="false"></a>
            <a href="/add"><img src="/add.svg" alt="add" style="opacity: 50%" draggable="false"></a>
        </nav>
    </header>
    <div class="main-section-categories">
        <% for (let i=0; i<categories.length; i++) { %>
            <a href="/categories/<%= categories[i].genre %>" class="category" id="<%= categories[i].genre %>">
                <h1><%= categories[i].genre %></h1>
            </a>
        <% } %>
    </div>
</body>
</html>