<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="../public/logo.svg">
    <title>Odin Inventory</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <a href="/">
                <img src="/logo.svg" alt="logo">
                <h1>Odin Inventory</h1>
            </a>
        </div>
        <!--
        <div class="searchbar">
            <input type="text">
            <button type="submit">Search</button>
        </div>
        -->
        <nav class="links-container">
            <a href="/"><img src="/home.svg" alt="home" style="opacity: 100%"></a>
            <a href="/categories"><img src="/categories.svg" alt="categories" style="opacity: 50%"></a>
            <a href="/games"><img src="/items.svg" alt="items" style="opacity: 50%"></a>
            <a href="/add"><img src="/add.svg" alt="add" style="opacity: 50%"></a>
        </nav>
    </header>
    <div class="main-section-home">
        <div class="first-section">
            <h1 class="home-text">Welcome to Odin Games Inventory.</h1>
        </div>
        <div class='second-section' style="background-image: url('/home-banner.png');">
    
        </div>
        <div class="third-section">
            <a href="/games">Start Here</a>
        </div>
        <footer>
            <small>Copyright&#169 SafariNexus</small>
        </footer>
    </div>
</body>
</html>