.cart-sidebar { 
    z-index: 1;
    position: fixed; 
    right: 0; 
    top: 0;  
    height: 100svh; 
    width: 20%; 
    min-width: 300px; 
    max-width: 500px; 
    background-color: rgb(143, 142, 142);
    border-radius: 10px 0 0 10px;
    cursor: pointer; 
    overflow-x: hidden;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 15% 75% 10%;
    justify-items: center;
    align-items: center;
}

.cart-sidebar-invisible { 
    display: none; 
}

.cart-sidebar h1{
    margin: 0; 
    text-align: center;
}

.actual-cart { 
    width: 90%; 
    height: 100%; 
    border: 1px solid black; 
    border-radius: 8px;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cart-item {
    width: 100%; 
    min-height: 100px;
    max-height: 100px;
    border-top: 1px solid black; 
    display: grid; 
    grid-template-columns: 35% 65%;
    grid-template-rows: 1.5fr 1.5fr 2fr;
    box-sizing: border-box;
}

.cart-item * {
    margin: 0; 
    padding-left: 5px;
}

.cart-item-name {
    font-size: 0.6em; 
}

.cart-item-desc {
    font-size: 0.5em; 
}

.cart-item-image { 
    padding: 0; 
    grid-row: span 3;
    grid-column: 1;
    height: 99%; 
    width: 100%; 
    overflow: hidden;
    object-fit: fill;
    object-position: center;
}

.cart-item-buttons { 
    display: flex; 
    justify-content: center;
    align-items: center; 
    justify-self: end;
}

.removefromcart {
    background-image: url('../assets/removefromcart.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0, 0);
    background-size: 15px;
    filter: invert(100%);
    width: 24px;
    height: 24px;
    border: 1px solid black; 
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 5px; 
}

.removefromcart:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.checkout-button {
    width: 100px; 
    height: 40px; 
    margin: 0; 
    border: 1px solid black; 
    border-radius: 8px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white; 
    background-color: blueviolet;
    transition: 0.1s ease-in;
}

.checkout-button:hover {
    filter: grayscale(1.1);
    color: black;
}
