:root { 
    font-family: 'Space Mono';
    color: white;
}


body {
    background-color: #111;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    display: grid; 
    grid-gap: 0.4px;
    height: 100vh; 
    width: 100vw;
    grid-template-columns: min(max(20%, 200px), 360px) auto; 
    grid-template-rows: 80px auto 4%;
    position: relative;
}

/*============================HEADER============================*/

header {
    background-color: #111;
    grid-column: span 2; 
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    box-shadow: 0px 0.1px 3px 0.5px black;
}

header img {
    height: 40px; 
    width: 40px; 
    filter: invert(100%);
    margin-right: 15px;
}

header>a {
    position: absolute;
    bottom: 18px;
    display: flex; 
    justify-content: baseline;
    align-items: center;
    text-decoration: none;
}

header>a:visited {
    color: inherit; 
    text-decoration: none;
}

header h1 {
    margin: 0;
}

header>h6 {
    position: absolute; 
    right: 10px;
    bottom: 0;
    color: lightgray; 
}

header>h6:hover {
    cursor: progress;
}

/*============================SIDEBAR============================*/

#sidebar {
    background-color: #333;
    grid-row: 2;
    display: grid; 
    grid-template-rows: 90px auto;
    padding: 20px;
    align-items: center;
}

#fixeditems {
    height: 100%; 
    width: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

#projectlist {
    height: 100%; 
    width: 100%;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: baseline;
    padding-top: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}

.sidebaritem {
    border-radius: 5px;
    height: 25px;
    padding: 5px;
    display: flex; 
    align-items: center;
    position: relative;
}

.sidebaritem:hover {
    background-color: rgb(200, 200, 200, 0.4);
    cursor: pointer;
}

.sidebaritem>img {
    height: 20px; 
    width: 20px;
    filter: invert(100%);
    margin-right: 5px;
}

#deleteproj {
    background-image: url(./icons/close.svg);
    height: 20px; 
    width: 20px;
    position: absolute; 
    right: 5px;
    border: 0;
    filter: invert(100%);
    background-color: rgb(0,0,0,0);
    opacity: 0;
}

#deleteproj:hover {
    opacity: 100%;
    cursor: pointer;
}
/*
#deleteproj:active {
}
*/

/*============================MAINAREA============================*/

#main {
    width: max(100%, 400px);
    background-color: #222;
    /*
    display: grid; 
    grid-template-columns: repeat(auto-fit, 240px); 
    grid-template-rows: repeat(auto-fit, 270px);
    */
}

.task {
    height: 50px;
    display: block grid;
    grid-template-columns: 7% 65% 28%;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(180, 180, 180, 0.75);
    border-radius: 8px;
    margin: 10px;
    box-sizing: border-box;
}

.taskdone {
    grid-row: 1 / span 2; 
    grid-column: 1;
    margin: 0;
    height: 15px; 
    width: 15px;
    border: 0;
    justify-self: center;
    align-self: center;
}

.tasktitle {
    font-weight: 500;
    grid-column: 2; 
    grid-row: 1; 
    margin: 0;
    align-self: end;
}

.taskdesc {
    grid-column: 2; 
    grid-row: 2; 
    margin: 0;
    font-size: x-small;
}

.taskduedate {
    align-self: end;
}

.taskduedate, .taskpriority {
    font-size: x-small;
}

/*=============================FOOTER=============================*/

#pseudofooter {
    background-color: #333;
    display: flex; 
    justify-content: center;
}

footer { 
    width: max(100%, 400px);
    background-color: #222;
    display: flex; 
    justify-content: center;
}

#projadd { 
    background-image: url(./icons/folder-plus-outline.svg);
}

#taskadd {
    background-image: url(./icons/plus.svg);
}

#projadd, #taskadd { 
    height: 30px; 
    width: 30px;
    border: 0;
    filter: invert(100%);
    background-color: rgb(0,0,0,0);
}

#projadd:hover, #taskadd:hover { 
    cursor: pointer;
    opacity: 40%;
}




