:root { 
    font-family: 'Space Mono';
    color: white;
}


body {
    background-color: #111;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    display: grid; 
    grid-gap: 0.4px;
    height: 100vh; 
    width: 100vw;
    grid-template-columns: minmax(200px, 360px) minmax(560px, auto); 
    grid-template-rows: 80px auto 4%;
    position: relative;
}

/*============================HEADER============================*/

header {
    background-color: #111;
    grid-column: span 2; 
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    box-shadow: 0px 0.1px 3px 0.5px black;
}

header img {
    height: 40px; 
    width: 40px; 
    filter: invert(100%);
    margin-right: 15px;
}

header>a {
    position: absolute;
    bottom: 18px;
    display: flex; 
    justify-content: baseline;
    align-items: center;
    text-decoration: none;
}

header>a:visited {
    color: inherit; 
    text-decoration: none;
}

header h1 {
    margin: 0;
}

header>h6 {
    position: absolute; 
    right: 10px;
    bottom: 0;
    color: lightgray; 
}

header>h6:hover {
    cursor: progress;
}

/*============================SIDEBAR============================*/

#sidebar {
    background-color: #333;
    grid-row: 2;
    display: grid; 
    grid-template-rows: 90px auto;
    padding: 20px;
    align-items: center;
}

#fixeditems {
    height: 100%; 
    width: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

#projectlist {
    height: 100%; 
    width: 100%;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: baseline;
    padding-top: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}

.sidebaritem {
    border-radius: 5px;
    height: 25px;
    padding: 5px;
    display: flex; 
    align-items: center;
    position: relative;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.sidebaritem:hover {
    background-color: rgb(200, 200, 200, 0.2);
    cursor: pointer;
}

.sidebaritem>img {
    height: 20px; 
    width: 20px;
    filter: invert(100%);
    margin-right: 5px;
}

.deleteproj {
    background-image: url(./icons/close.svg);
    height: 20px; 
    width: 20px;
    position: absolute; 
    right: 5px;
    border: 0;
    filter: invert(100%);
    background-color: rgb(0,0,0,0);
    opacity: 0;
}

.deleteproj:hover {
    opacity: 100%;
    cursor: pointer;
}
/*
#deleteproj:active {
}
*/

/*============================MAINAREA============================*/

#main {
    background-color: #222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    /*
    make it such that beyond 1kpx, you can squeeze more than one task
    display: grid; 
    grid-template-columns: repeat(auto-fit, 240px); 
    grid-template-rows: repeat(auto-fit, 270px);
    */
}

.task {
    display: block grid;
    grid-template-columns: 7% auto max(23%, 105px);
    grid-template-rows: 1fr 1fr;
    background-color: rgb(210, 210, 210, 0.3);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    padding-left: 0px;
    box-sizing: border-box;
}

.taskcheck {
    grid-row: 1 / span 2; 
    grid-column: 1;
    margin: 0;
    height: 15px; 
    width: 15px;
    border: 0;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    position: relative;
}

.taskcheck:hover {
    border: 1px solid rgb(0, 0, 255, 0.4);
}

/* this goes into js */
.taskcheck:active {
    background-color: darkblue;
    border: 1.5px solid white;
}

.tasktitle {
    grid-column: 2; 
    grid-row: 1; 
    align-self: center;
    text-overflow: hidden;
}

.tasktitle>h5 {
    font-weight: 500;
    margin: 0;
}

.taskdesc {
    grid-column: 2; 
    grid-row: 2; 
    margin: 0; 
    margin-right: 5px;
    font-size: x-small;
}

.taskduedate {
    align-self: end;
    font-size: x-small;
    margin: 0;
    margin-bottom: 3px;
}

.taskpriority {
    width: 125px;
    display: flex; 
    justify-content: start;
    align-content: start;
}

.prio {
    margin-right: 5px;
    height: 15px; 
    width: 30%;
    border-radius: 5px;
    font-weight: 100;
    font-size: small;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
}

button[id*='high'] {
    color: red; 
    border: red solid 1px; 
}

button[id*='high']:hover {
    background-color: red;
    color: white;
}  

button[id*='med'] {
    color: orange; 
    border: orange solid 1px; 
}

button[id*='med']:hover {
    background-color: orange;
    color: white;
}  

button[id*='low'] {
    color: green; 
    border: green solid 1px; 
    margin-right: 0;
}

button[id*='low']:hover {
    background-color: green;
    color: white;
}  

/*=============================FOOTER=============================*/

#pseudofooter {
    background-color: #333;
    display: flex; 
    justify-content: center;
}

footer { 
    width: max(100%, 400px);
    background-color: #222;
    display: flex; 
    justify-content: center;
}

#projadd { 
    background-image: url(./icons/folder-plus-outline.svg);
}

#taskadd {
    background-image: url(./icons/plus.svg);
}

#projadd, #taskadd { 
    height: 30px; 
    width: 30px;
    border: 0;
    filter: invert(100%);
    background-color: rgb(0,0,0,0);
    transition: all 0.2s ease-in-out;
}

#projadd:hover, #taskadd:hover { 
    cursor: pointer;
    opacity: 40%;
}

#projadd:active, #taskadd:active { 
    transform: scale(1.1);
}

/*===============================*/


