<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <a href="<%= links[1].href %>" class="logo-container">
                <img src="/logo.svg" alt="logo">
                <h1><%= title %></h1>
            </a>
            <a href="<%= links[1].href %>" class="home-container">
                <img src="/home.svg" alt="home image">
            </a>
        </header>
        <div class="form-container">   
            <form action="/new" method="POST">
                <fieldset>
                    <legend>Enter your message</legend>
                    <label for="message-text">Message</label>
                    <textarea name="messageText" placeholder="your message here..."></textarea>
                    <label for="name">Your name</label>
                    <input type="text" name="messageUser">
                    <button class="form-submit">Submit</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>