.display-container {
    height: calc(100svh - 150px);
    min-height: 700px; 
    margin: 20px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.display {
    aspect-ratio: 1/1.414;
    min-width: 500px; 
    border: 1px solid white; 
    background-color: white;
    color: black; 
}

.display-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px; 
}